.active-menu-item {
  background-color: rgb(246, 245, 245);
  position: relative;
}
/* 
.active-menu-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 70%;
  background: var(--color-primary);
  border-radius: 0 4px 4px 0;
} */

.active-menu-item svg {
  stroke: var(--color-primary);
}

a:not(.active-menu-item) svg {
  stroke: currentColor;
}
